.MemoryWindow {
    width: fit-content;
    /*min-width: fit-content;*/
    height: 100%;
    max-height: 100%;
    /*min-width: 22.125rem;*/

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;

    border-radius: 0.5rem;
    background-color: var(--color--background-default-default);
    border-right: 1px solid var(--color--border-default-secondary);
    border-bottom: 1px solid var(--color--border-default-secondary);


    color: var(--color--text-color);
}

.Header {
    width: calc(100% - 0.5rem);
    height: fit-content;

    padding: 0 0.125rem 0.0625rem 0.125rem;
    margin: 0 0.25rem;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    border-bottom: 1px solid var(--color--border-default-secondary);
}

.Window__title {
    font-size: 1rem;
    font-weight: 600;
}


.Content {
    width: 100%;
    height: 100%;

    padding: 1.25rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;

    overflow-y: auto;
}

.Registers__wrapper {
    width: 100%;
    height: fit-content;

    /*padding: 0 1rem;*/

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0.75rem;
}


.Section__title__wrapper {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}

.Section__title {
    font-size: 1rem;
    font-weight: 400;

    color: var(--color--text-default-secondary);
}


.Registers {
    width: 100%;
}


.Ram__wrapper {
    width: 100%;
    height: fit-content;

    padding: 0 1rem;
    margin-top: 2.5rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0.75rem;
}

.Ram {
    width: 100%;
}