.MemoryWindow {
    height: 100%;
    width: 100%;
    /*min-width: 22.125rem;*/
    min-width: fit-content;

    padding: 0 0.25rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0.25rem;

    border-radius: 0.5rem;
    background-color: var(--color--background-default-default);

    color: var(--color--text-color);
}

.Header {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    padding: 0 0.125rem 0.0625rem 0.125rem;

    border-bottom: 2px solid var(--color--border-default-secondary);
}

.Window__title {
    font-size: 1rem;
    font-weight: 600;
}


.Registers__wrapper {
    width: 100%;
    height: fit-content;

    padding: 0 1rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0.75rem;
}


.Section__title__wrapper {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}

.Section__title {
    font-size: 1rem;
    font-weight: 400;

    color: var(--color--text-default-secondary);
}


.Registers {
    width: 100%;
}