
.Table__outer {
    border-radius: 0 0 8px 8px;
    border-right: 1px solid var(--color--border-default-secondary);
    border-bottom: 1px solid var(--color--border-default-secondary);
    background-color: var(--color--background-default-default);

    overflow: hidden;

    flex: 1 1 0;
}


.Table__wrapper {
    height: 100%;
}


.Table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.Table thead th {
    padding: 0.3125rem 0;
    position: sticky;
    top: 0;
    z-index: 2;

    color: var(--sds-color-text-neutral-on-neutral);
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;

    background: var(--sds-color-background-neutral-default);
}


.Table tbody td {
    padding: 0.3125rem 0;

    font-size: 0.625rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;

    text-align: center;
}

.Table__row__dark {
    background-color: var(--sds-color-background-default-secondary);
}