.SearchInputSection {
    display: flex;
    padding: 8px 12px;
    align-items: center;
    gap: 8px;

    border-radius: 8px 8px 0 0;
    background: var(--color--background-default-default);

    cursor: text;

    border-bottom: 1px solid var(--color--border-default-secondary);
    border-right: 1px solid var(--color--border-default-secondary);
}

.SearchInput {
    width: 100%;
    font-size: 0.875rem;
    line-height: 100%;

    border: none;
}

.SearchInput:focus {
    outline: none;
}