.SearchInputSection {
    display: flex;
    padding: 8px 12px;
    align-items: center;
    gap: 8px;

    border-radius: 8px 8px 0 0;
    background: var(--color--background-search-input);

    cursor: text;

    border-bottom: 1px solid var(--color--default-border);
    border-right: 1px solid var(--color--default-border);

    stroke: var(--color--default-text);
}

.SearchInput {
    width: 100%;
    font-size: 0.875rem;
    line-height: 100%;

    border: none;
    background-color: var(--color--background-search-input);
    color: var(--color--default-text);
}

.SearchInput:focus {
    outline: none;
}