.ConsoleWindow {
    background-color: var(--color--background-default-default);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    flex-wrap: nowrap;

    padding: 0.3125rem;

    border-radius: 0.5rem;
    background-color: var(--color--background-default-default);
    border-right: 1px solid var(--color--border-default-secondary);
    border-bottom: 1px solid var(--color--border-default-secondary);

    color: var(--color--text-color);
}

.Header {
    padding-bottom: 0.1875rem;
    gap: 0.3125rem;

    display: flex;
    flex-direction: row;
    align-items: center;

    align-self: stretch;

    border-bottom: inset 1px var(--color--border-default-secondary);

    transition: border-color 0.2s ease, padding-bottom 0.2s ease;
}

.HeaderCollapsed {
    border-bottom-color: transparent;
    padding-bottom: 0;
}

.Window__title {
    font-size: 1rem;
    font-weight: 600;
    line-height: 100%;
    width: 100%;

    cursor: pointer;
}

.Content {
    
    opacity: 1;
    height: 8rem;

    max-height: 8rem;

    transition: max-height 0.25s ease, opacity 0.25s ease;
}

.Content__wrapper {
    height: 100%;

    padding: 0.5rem 0;

    mask-image: linear-gradient(
        to bottom,
        black 85%,
        transparent
    );
}

.ContentCollapsed {
    max-height: 0;
    opacity: 0;
    padding: 0;
}
