.popup {
    position: absolute;
    background: var(--color--window-background);
    border: 1px solid var(--color--default-border);
    border-radius: 10px;
    padding: 4px;
    z-index: 100;
    font-size: 14px;
}

.item {
    padding: 4px 8px;
    cursor: pointer;
    display: flex;
    gap: 8px;
}

.item:hover {
    background: var(--color--main-background);
    border-radius: 6px;
}

.instr {
    color: var(--color--hint-text);
}

.code {
    color: var(--color--hint-text);
}

.attr {
    color: var(--color--light-blue);
}
