* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --gap-between-windows: 10px;
  --min-app-height: 680px;

  --color--background-default-tertiary: #D9D9D9;
  --color--background-default-default: #FFFFFF;
  --color--border-default-secondary: #757575;
  --color--background-color-brand-default: #2C2C2C;
  --color--background-hover-dark-button: #0e0e0e;
  --color--background-warning-tertiary: rgba(255, 251, 235, 1);

  --color--background-green: #2C5533;
  --color--border-green: #009951;
  --color--background-orange: #524223;
  --color--border-orange: #975102;
  --color--background-red: #602E2EFF;
  --color--border-red: #C00F0C;
  --color--background-blue: #322C56;
  --color--border-blue: #330CC0;

  --color--text-color: #000000;
  --color--text-brand-onbrand: #F5F5F5;
  --color--text-default-secondary: #757575;


  --sds-size-stroke-border: 1px;
  
  --sds-color-background-disabled-default: #D9D9D9;
  --sds-color-border-disabled-default: #B3B3B3;
  --sds-color-icon-disabled-on-disabled: #B3B3B3;

  --sds-color-background-brand-default: #2C2C2C;
  --sds-color-border-brand-default: #2C2C2C;
  --sds-color-icon-brand-on-brand: #F5F5F5;


  --sds-color-background-neutral-default: #5A5A5A;
  --sds-color-text-neutral-on-neutral: #F3F3F3;
  --sds-color-background-default-secondary: #F5F5F5;
}

#root {
  width: 100%;
  height: 100%;

  color: var(--color--text-color);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 480px;
  min-height: 100vh;
}

.table-scroll .simplebar-track.simplebar-vertical {
  width: 6px; 
  margin-top: 20px;
}

.console-scroll .simplebar-track.simplebar-vertical {
  width: 6px; 
}


.sb-scroll .simplebar-scrollbar::before {
  background: var(--sds-color-background-neutral-default);
  border-radius: 8px;
}

.sb-scroll .simplebar-track {
  background: transparent;
}

@media (max-width: 1023px) {
  body {
    min-height: max(var(--min-app-height), 100vh);
  }
}
