.MemoryWindow {
    width: fit-content;
    /*min-width: fit-content;*/
    height: 100%;
    max-height: 100%;
    /*min-width: 22.125rem;*/

    padding: 0 0.3125rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;

    border-radius: 0.5rem;
    background-color: var(--color--background-default-default);
    border-right: 1px solid var(--color--border-default-secondary);
    border-bottom: 1px solid var(--color--border-default-secondary);


    color: var(--color--text-color);
}

.Header {
    width: calc(100%);
    height: fit-content;

    padding: 0 0.125rem 0.0625rem 0.125rem;
    /*margin: 0 0.25rem;*/

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.375rem;

    border-bottom: 1px solid var(--color--border-default-secondary);
}

.Hide__button {
    display: none !important;
}

.Window__title {
    font-size: 1rem;
    font-weight: 600;
}


.Content {
    width: 100%;
    max-height: 100%;

    padding: 1.25rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;

    overflow-y: auto;
}

.Registers__wrapper {
    width: 100%;
    height: fit-content;

    /*padding: 0 1rem;*/

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0.75rem;
}


.Section__title__wrapper {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}

.Section__title {
    font-size: 1rem;
    font-weight: 400;

    color: var(--color--text-default-secondary);
}


.Registers {
    width: 100%;
    max-width: 40rem;
}


.Ram__wrapper {
    width: 100%;
    height: fit-content;

    margin-top: 2.5rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0.75rem;
}

.Ram {
    width: 100%;
}

@media (max-width: 1023px) {
    .MemoryWindow {
        width: 100%;
        height: fit-content;
    }

    .Header {
        padding: 0 0.125rem 0.0625rem 0;
    }

    .HeaderCollapsed {
        border-bottom: transparent;
        padding-bottom: 0;
    }

    .Hide__button {
        display: flex !important;
    }

    .Content {
        width: 100%;
        max-height: 20rem;

        transition:
                max-height 0.25s ease,
                padding 0.25s ease;
    }

    .Content__collapsed {
        max-height: 0;
        opacity: 0;
        padding: 0;
    }
}