.MemoryButton {
    cursor: pointer;

    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;

    border-radius: 0.25rem;
    stroke: var(--color--secondary-text);
    border: var(--sds-size-stroke-border) solid var(--color--button--background);
    background: var(--color--button--background);
}



.MemoryButton:hover {
    background-color: var(--color--background-hover-button);
    border: var(--sds-size-stroke-border) solid var(--color--background-hover-button);
}

.MemoryButton.Disabled {
    cursor: default;

    stroke: var(--color--button--disabled-border);
    border: var(--sds-size-stroke-border) solid var(--color--button--disabled-border);
    background: var(--color--background-disabled-button);
}