.Ram {
    width: 22rem;
    height: 19rem;

    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    gap: 0;

    border-radius: 0.25rem;
    border: 1px solid var(--color--border-default-secondary);
}

.Cell {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.Cell__title {
    font-size: 0.75rem;
    font-weight: 500;
}