.RegistersBoard {
    height: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.RegistersBoard:last-child .Registers__wrapper {
    border-radius: 0.25rem 0.25rem 0.25rem 0;
}

.Registers__wrapper {
    width: 100%;
    height: fit-content;

    padding: 0.1875rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0.1875rem;

    border-radius: 0 0.25rem 0.25rem 0;
    border: 1px solid var(--color--default-border);
}

.Register {
    width: 1.25rem;
    height: 1.25rem;

    outline: none;
    border: none;
    border-radius: 0.25rem;

    cursor: pointer;
}

.Green {
    background-color: var(--color--background-green-register);
    box-shadow: 0 0 0 2px var(--color--border-green-register) inset;
}

.Orange {
    background-color: var(--color--background-orange-register);
    box-shadow: 0 0 0 2px var(--color--border-orange-register) inset;
}

.Red {
    background-color: var(--color--background-red-register);
    box-shadow: 0 0 0 2px var(--color--border-red-register) inset;
}

.Blue {
    background-color: var(--color--background-blue-register);
    box-shadow: 0 0 0 2px var(--color--border-blue-register) inset;
}

.Green.Active {
    background: radial-gradient(
            circle,
            rgba(175, 244, 198, 1) 0%,
            rgba(20, 174, 92, 1) 100%
    );
}

.Orange.Active {
    background: radial-gradient(
            circle,
            rgba(255, 232, 163, 1) 0%,
            rgba(232, 185, 49, 1) 100%
    );
}

.Red.Active {
    background: radial-gradient(
            circle,
            #FCB3AD 0%,
            #EC221F 100%
    );
}

.Blue.Active {
    background: radial-gradient(
            circle,
            #B8ADFC 0%,
            #481FEC 100%
    );
}

.Counter {
    width: 6.25rem;
    height: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;

    border-radius: 0 0 0.25rem 0.25rem;
    background-color: var(--color--default-border);
}

.Counter__title__wrapper {
    width: 50%;
    height: 100%;

    padding: 0 0.25rem;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
}

.Counter__title {
    font-size: 0.625rem;
    font-weight: 400;

    margin-bottom: 0.0625rem;

    color: var(--color--secondary-text);
}

.Counter__window {
    width: 50%;
    height: 1rem;

    padding: 0 0.25rem;

    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;

    border-radius: 0 0 0.25rem 0;
    background-color: var(--color--background-register-counter);

    border-right: 1px solid var(--color--default-border);
    border-bottom: 1px solid var(--color--default-border);
}

.Counter__number {
    font-size: 0.75rem;
    font-weight: 400;
}