.Registers {
    height: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}

.Registers__option__wrapper {
    width: 100%;
    height: 1.875rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.Registers__switch {
    width: fit-content;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: nowrap;
}

.Register__option {
    outline: none;
    border: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

    transition: 0.3s all ease-in-out;
}

.Active__option {
    width: 2.125rem;
    height: 1.875rem;

    border-radius: 0.5rem 0.5rem 0 0;
    background-color: var(--color--background-default-default);

    border-top: 1px solid var(--color--border-default-secondary);
    border-right: 1px solid var(--color--border-default-secondary);
    border-left: 1px solid var(--color--border-default-secondary);

    color: var(--color--text-color);
}

.Inactive__option:last-child {
    border-radius: 0 0.5rem 0 0;
}

.Inactive__option:first-child {
    border-radius: 0.5rem 0 0 0;
}

.Inactive__option {
    width: 1.5rem;
    height: 1.375rem;

    border-radius: 0;
    background-color: var(--color--background-color-brand-default);

    color: var(--color--text-brand-onbrand);

    font-family: inherit;

    cursor: pointer;
}

.Inactive__option:hover {
    background-color: var(--color--background-hover-dark-button);
}

.Register__option__title {
    font-size: 0.625rem;
    font-weight: 400;
}


.Buttons__wrapper {
    width: fit-content;
    height: 100%;

    padding-bottom: 0.125rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: nowrap;
    gap: 0.25rem;
}

.File__button {
    width: 4.625rem;
    height: 1.75rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0.375rem;

    outline: none;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--color--background-color-brand-default);

    color: var(--color--text-brand-onbrand);

    font-family: inherit;

    cursor: pointer;
}

.File__button__title {
    margin-bottom: 0.0625rem;

    font-size: 1rem;
    font-weight: 400;
}

.File__button:hover {
    background-color: var(--color--background-hover-dark-button);
}

.Registers__board {
    width: 100%;
}

.Registers__board:last-child {
    margin-top: 0.5rem;
}