.App__wrapper {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;

    background-color: red;
}

.Main__content__wrapper {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;

    background-color: green;
}

.Left__content__wrapper {
    width: 65%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;

    background-color: transparent;
}

.Code__wrapper {
    width: 100%;
    height: 70%;

    background-color: burlywood;
}

.Console__wrapper {
    width: 100%;
    height: 30%;

    background-color: khaki;
}

.Memory__wrapper {
    width: 35%;
    height: 100%;

    background-color: darkgoldenrod;
}