.App__wrapper {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;

    background-color: red;
}

.Main__content__wrapper {
    width: 100%;
    height: calc(100% - 43px);

    padding: var(--gap-between-windows);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: var(--gap-between-windows);

    background-color: var(--color--background-default-tertiary);
}

.Left__content__wrapper {
    flex: 1;
    min-width: 0;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    gap: var(--gap-between-windows);

    background-color: transparent;
}

.Code__wrapper {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    gap: var(--gap-between-windows);

    /* background-color: burlywood; */
}

.Code__display__wrapper {
    width: 100%;
    height: 100%;

    /*background-color: coral;*/
}

.Console__wrapper {
    width: 100%;
    height: fit-content;

    /* background-color: khaki; */
}

.Memory__wrapper {
    width: fit-content;
    flex: 0 0 auto;
    /*min-width: fit-content;*/
    height: 100%;

    /*background-color: darkgoldenrod;*/
}

@media (max-width: 1023px) {
    .App__wrapper {
        height: max(var(--min-app-height), 100vh);
    }

    .Main__content__wrapper {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .Left__content__wrapper {
        width: 100%;
        flex: 1;
        min-height: 0;
    }

    .Memory__wrapper {
        width: 100%;
        height: fit-content;
    }
}